.App {
  text-align: center;
}

.App-logo {
  padding:200px;
  height: 200px;
}

.trail {
    position: absolute;
    height: 10px; width: 10px;
    border-radius: 7px;
    background: black;
  }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
